force-app/main/default/flows/LeadFollowUpBasedOnRating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ColdLeadFollowUpEmail</name>
        <label>ColdLeadFollowUpEmail</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <actionName>Lead.Folllowup_with_unqualified_Lead</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>WarmLeadFollowUp</name>
        <label>WarmLeadFollowUp</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>Lead.Folllowup_with_unqualified_Lead</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Customer_Rating_FollowUp</name>
        <label>Customer Rating FollowUp</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Warm_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarmLeadFollowupFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WarmLeadFollowUp</targetReference>
            </connector>
            <label>Warm Lead</label>
        </rules>
        <rules>
            <name>Cold_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ColdLeadFollwupFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ColdLeadFollowUpEmail</targetReference>
            </connector>
            <label>Cold Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ColdLeadFollwupFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.Rating} ,&apos;Cold&apos;) &amp;&amp; {!$Record.LastModifiedDate} + 6 &lt; {!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>WarmLeadFollowupFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.Rating} ,&apos;Warm&apos;) &amp;&amp; {!$Record.LastModifiedDate} + 13 &lt; {!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>LeadFollowUpBasedOnRating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadFollowUpBasedOnRating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Rating_FollowUp</targetReference>
        </connector>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-03</startDate>
            <startTime>15:05:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
