force-app/main/default/flows/Opportunity_Project_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>TentativeEndDateformula</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS( {!$Flow.CurrentDateTime} ,  CASE( {!$Record.Estimated_time_frame__c} , &apos;1Months&apos; , 1,&apos;2Months&apos; , 2,&apos;3Months&apos; , 3,&apos;4Months&apos; , 4,&apos;5Months&apos; , 5,&apos;6Months&apos; , 6,&apos;7Months&apos; , 7,&apos;8Months&apos; , 8,&apos;9Months&apos; , 9,&apos;10Months&apos; , 10,&apos;11Months&apos; , 11,&apos;12Months&apos; , 12,&apos;12+Months&apos; , 13 , 0 ))</expression>
    </formulas>
    <interviewLabel>Opportunity Project Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Project Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project_Record_with_Stage_as_Draft</name>
        <label>Create Project Record with Stage as Draft</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Create_Quote_for_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Architects__c</field>
            <value>
                <elementReference>$Record.No_of_Architects__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Designers__c</field>
            <value>
                <elementReference>$Record.No_of_Designer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Developers__c</field>
            <value>
                <elementReference>$Record.No_of_Developer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Managers__c</field>
            <value>
                <elementReference>$Record.No_of_Managers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Testers__c</field>
            <value>
                <elementReference>$Record.No_of_Tester__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Skills__c</field>
            <value>
                <elementReference>$Record.Required_Skills__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tentative_End_Date__c</field>
            <value>
                <elementReference>TentativeEndDateformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tentative_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_for_Opportunity</name>
        <label>Create Quote for Opportunity</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Project_Record_with_Stage_as_Draft</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
