force-app/main/default/flows/ProjectPathFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>checkForAnalysis</name>
        <label>checkForAnalysis</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>checkForDesign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifStageAnalysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analysis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Functional_Requirement_Gathered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operational_Requirement_Gathered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateQuoteForIAnalysisStage</targetReference>
            </connector>
            <label>ifStageAnalysis</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForDesign</name>
        <label>checkForDesign</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>checkForDevelopment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifStageDesign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UI_UX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Frontend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approve_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateQuoteForDesignStage</targetReference>
            </connector>
            <label>ifStageDesign</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForDevelopment</name>
        <label>checkForDevelopment</label>
        <locationX>182</locationX>
        <locationY>2639</locationY>
        <defaultConnector>
            <targetReference>checkForTesting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifStageDevelopment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Database_Integration_is_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Modules_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Functional_Requirements_Fulfilled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_for_Development__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateQuoteForDevelopmentStage</targetReference>
            </connector>
            <label>ifStageDevelopment</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForInitiation</name>
        <label>checkForInitiation</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>checkForRequirement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifStageInitiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Acquried_all_resourses__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateQuoteForInitiationStage_0</targetReference>
            </connector>
            <label>ifStageInitiated</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForRequirement</name>
        <label>checkForRequirement</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>checkForAnalysis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifStageRequirement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requirements Gathering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_required_information_is_Gathered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discuss_Business_Pain_Point__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Re_confirm_requirement_with_client__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateQuoteForRequirementStage</targetReference>
            </connector>
            <label>ifStageRequirement</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForTesting</name>
        <label>checkForTesting</label>
        <locationX>182</locationX>
        <locationY>3215</locationY>
        <defaultConnector>
            <targetReference>checkForUAT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifStageTesting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Test_Success_Ratio__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>95.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Performance_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>95.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Testing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateQuoteFoTestingStage</targetReference>
            </connector>
            <label>ifStageTesting</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForUAT</name>
        <label>checkForUAT</label>
        <locationX>182</locationX>
        <locationY>3791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifStageUAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Palnning__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Designing_Test_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UAT_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Execution_Documentation_of_test_cases__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bug_Fixing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateQuoteForUATStage</targetReference>
            </connector>
            <label>ifStageUAT</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>InitiationFormula</name>
        <dataType>Currency</dataType>
        <expression>0.14285714285714 * {!$Record.Project_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ProjectPathFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProjectPathFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateQuoteForDesignStage</name>
        <label>CreateQuoteForDesignStage</label>
        <locationX>50</locationX>
        <locationY>2183</locationY>
        <connector>
            <targetReference>ProjectInvoiceCreation_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProjectQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateQuoteForDevelopmentStage</name>
        <label>CreateQuoteForDevelopmentStage</label>
        <locationX>50</locationX>
        <locationY>2759</locationY>
        <connector>
            <targetReference>ProjectInvoiceCreation_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProjectQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateQuoteForIAnalysisStage</name>
        <label>CreateQuoteForIAnalysisStage</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>ProjectInvoiceCreation_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProjectQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateQuoteForInitiationStage_0</name>
        <label>CreateQuoteForInitiationStage</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>ProjectInvoiceCreation_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProjectQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateQuoteForRequirementStage</name>
        <label>CreateQuoteForRequirementStage</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>ProjectInvoiceCreation_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProjectQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateQuoteForUATStage</name>
        <label>CreateQuoteForUATStage</label>
        <locationX>50</locationX>
        <locationY>3911</locationY>
        <connector>
            <targetReference>ProjectInvoiceCreation_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProjectQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateQuoteFoTestingStage</name>
        <label>CreateQuoteFoTestingStage</label>
        <locationX>50</locationX>
        <locationY>3335</locationY>
        <connector>
            <targetReference>ProjectInvoiceCreation_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProjectQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ProjectInvoiceCreation_0_0</name>
        <label>ProjectInvoiceCreation</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>updateToDesign_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Employee__c</field>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Payment Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Reference__c</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ProjectInvoiceCreation_0_0_0</name>
        <label>ProjectInvoiceCreation</label>
        <locationX>50</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>updateToTesting_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Employee__c</field>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Payment Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Reference__c</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ProjectInvoiceCreation_0_0_0_0</name>
        <label>ProjectInvoiceCreation</label>
        <locationX>50</locationX>
        <locationY>3455</locationY>
        <connector>
            <targetReference>updateToUAT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Employee__c</field>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Payment Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Reference__c</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ProjectInvoiceCreation_0_0_0_0_0</name>
        <label>ProjectInvoiceCreation</label>
        <locationX>50</locationX>
        <locationY>4031</locationY>
        <connector>
            <targetReference>updateToDelivered_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Employee__c</field>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Payment Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Reference__c</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ProjectInvoiceCreation_0_0_0_0_0_0</name>
        <label>ProjectInvoiceCreation</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>updateToRequirement</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Employee__c</field>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Payment Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Reference__c</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ProjectInvoiceCreation_0_0_0_0_0_0_0</name>
        <label>ProjectInvoiceCreation</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>updateToAnalysis_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Employee__c</field>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Payment Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Reference__c</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ProjectInvoiceCreation_0_0_0_0_0_0_0_0</name>
        <label>ProjectInvoiceCreation</label>
        <locationX>50</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>updateToDevelopment_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Employee__c</field>
            <value>
                <elementReference>$Record.Contact_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>InitiationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Payment Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Reference__c</field>
            <value>
                <elementReference>$Record.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>updateToAnalysis_0</name>
        <label>updateToAnalysis</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>checkForAnalysis</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Analysis</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateToDelivered_0</name>
        <label>updateToDelivered</label>
        <locationX>50</locationX>
        <locationY>4151</locationY>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateToDesign_0</name>
        <label>updateToDesign</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>checkForDesign</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Design</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateToDevelopment_0</name>
        <label>updateToDevelopment</label>
        <locationX>50</locationX>
        <locationY>2423</locationY>
        <connector>
            <targetReference>checkForDevelopment</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Development</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateToRequirement</name>
        <label>updateToRequirement</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>checkForRequirement</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Requirements Gathering</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateToTesting_0</name>
        <label>updateToTesting</label>
        <locationX>50</locationX>
        <locationY>2999</locationY>
        <connector>
            <targetReference>checkForTesting</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Testing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateToUAT_0</name>
        <label>updateToUAT</label>
        <locationX>50</locationX>
        <locationY>3575</locationY>
        <connector>
            <targetReference>checkForUAT</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkForInitiation</targetReference>
        </connector>
        <object>Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>invoicegenerate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;Hello&amp;nbsp;Customer ,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Invoice for the {!$Record.Project_Name__c} has been generated successfully.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards&lt;/p&gt;&lt;p&gt;Cyntexa&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ProjectQuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Record.Project_Name__c} Quote</stringValue>
        </value>
    </variables>
</Flow>
