force-app/main/default/flows/Qualify_lead_with_project_details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>captureProjectDetailsBeforeQualifying</name>
        <label>captureProjectDetailsBeforeQualifying</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>storeProjectDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeProjectStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateLeadRecords</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>projectStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Project_status__c</picklistField>
        <picklistObject>Lead</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Qualify lead with project details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Qualify lead with project details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateLeadRecords</name>
        <label>updateLeadRecords</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Record_Updated_Successsfully</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storerecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Project_status__c</field>
            <value>
                <elementReference>Project_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Description__c</field>
            <value>
                <elementReference>Project_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Please_provide_project_details</name>
        <label>Please provide project details</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>captureProjectDetailsBeforeQualifying</targetReference>
        </connector>
        <fields>
            <name>Project_Description</name>
            <fieldText>Project Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_Status</name>
            <choiceReferences>projectStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Project Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Updated_Successsfully</name>
        <label>Record Updated Successsfully</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Record Updated Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Please_provide_project_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>storeProjectDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>storeProjectStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>storerecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
